body{
    background-color: peru;
    height: 100vh;
}

.wrap{
    max-width: 700px;
    width: 100%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

.gameContainer{
    height: 100%;
}

.game{
    height: 100%;
}

.box-img{
    height: 100%;
}

.svg-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}

.svg-box svg{
    height: 100%;
    margin: 0 auto;
    display: block;
}

.center-game{
    font-size: 18px;
    color: white;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    max-width: 200px;
}

@media(min-width: 350px){
    .center-game{
        font-size: 25px;
        max-width: 200px;
    }
}

@media(min-width: 450px){
    .center-game{
        font-size: 30px;
        max-width: 200px;
    }
}

@media(min-width: 550px){
    .center-game{
        font-size: 40px;
        max-width: 200px;
    }
}

#btnRed:hover, #btnGreen:hover, #btnYellow:hover, #btnBlue:hover { 
    stroke:red;
    stroke-width: 3px;
}

.progressBox{
    display: flex;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.livello{
    background-color: purple;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.progress{
    flex-grow: 1;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.progress-bar{
    width: 0%;
}

.progress-bar.first{
    width: 100%;
}